.forecast {
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    display: none;

    &_active {
        display: block;
    }

    &__loading {
        display: none;
        justify-content: center;

        &_active {
            display: flex;
        }

        &:before {
            content: '';
            width: 2rem;
            height: 2rem;
            background-image: url(../images/loading.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: .25;

            // Spinning animation
            animation-name: spin;
            animation-duration: 0.35s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        border: 1px solid var(--c-gray);
        border-radius: .5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0 1rem;
        align-items: center;
        padding: 1rem 1.5rem;
        
        & + & {
            margin-top: 1rem;
        }

        @media (max-width: 900px) {
            padding: .75rem 1rem;
        }
    }

    &__date {
        font-size: 1.35rem;
        font-weight: 600;
    }

    &__weather {
        flex-grow: 1;
        text-align: center;
        font-size: 1.25rem;
        display: flex;
        align-items: center;

        @media (max-width: 900px) {
            justify-content: flex-end;
        }
    }

    &__icon {
        background-color: var(--c-light-blue);
        border-radius: 1rem;
        margin-right: 1rem;

        @media (max-width: 900px) {
            border-radius: .5rem;
            margin-right: .5rem;
        }
    }

    &__img {
        height: 4rem;
        display: block;

        @media (max-width: 900px) {
            height: 2.5rem;
        }
    }

    &__groups {
        display: flex;
        gap: 0 1.5rem;

        @media (max-width: 900px) {
            margin-top: .65rem;
            padding-top: .65rem;
            flex-basis: 100%;
            border-top: 1px solid var(--c-gray);
        }
    }

    &__group {
        @media (max-width: 900px) {
            flex-grow: 1;
            flex-shrink: 0;
        }
    }

    &__label {
        text-align: center;
        margin-bottom: .25rem;
        text-transform: uppercase;
        font-size: .85rem;
        opacity: .75;
    }

    &__value {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;

        @media (max-width: 900px) {
            font-size: 1.25rem;
        }
    }
}