.graph {
    padding: 1rem;
    border: 1px solid var(--c-gray);
    border-radius: .5rem;
    position: relative;
    display: none;

    &_active {
        display: block;
    }

    &:before {
        content: "";
        padding-top: 25%;
    }

    &__loading {
        display: none;
        justify-content: center;

        &_active {
            display: flex;
        }

        &:before {
            content: '';
            width: 2rem;
            height: 2rem;
            background-image: url(../images/loading.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: .25;

            // Spinning animation
            animation-name: spin;
            animation-duration: 0.35s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &__canvas {
        width: 100%;
    }
}