.page {
    font-family: var(--font-family);

    &__container {
        padding: 4rem;
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 900px) {
            padding: 1rem;
        }
    }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 2rem 0;
    }

    &__footer {
        text-align: right;
        font-size: .85rem;
    }
}