.search {
    position: relative;

    &__field {
        display: flex;
        border: 1px solid var(--c-gray);
        padding: .5rem;
        border-radius: .5rem;
    }

    &__input {
        flex-grow: 1;
        background: none;
        font-size: 1.5rem;
        padding: .5rem;
        margin-right: .5rem;
        border: none;
        font-family: var(--font-family);
        font-weight: 600;
        min-width: 50vw;

        &::placeholder {
            color: #808080;
            font-weight: 400;
        }

        @media (max-width: 1000px) {
            font-size: 1rem;
        }
    }

    &__geolocate {
        border: none;
        background-color: var(--c-primary);
        color: white;
        font-size: 1rem;
        padding: .5rem 1.5rem;
        font-weight: 600;
        border-radius: .25rem;
        cursor: pointer;
    }

    &__dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: white;
        display: none;
        border-radius: .5rem;
        box-sizing: border-box;
        box-shadow: 0 1rem 1.5rem rgba(black, .2);
        z-index: 1;

        &_open {
            display: block;
        }
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: block;
        padding: .65rem .85rem;
        border-bottom: 1px solid var(--c-gray);
        cursor: pointer;

        &_current, &:hover {
            background-color: var(--c-light-blue);
        }
    }
}