@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --c-gray: #d8d8d8;
    --c-light-blue: #d1d9ff;
    --c-primary: #2049ff;
    --font-family: 'Inter', sans-serif;
}

@import 'page.scss';
@import 'search.scss';
@import 'forecast.scss';
@import 'graph.scss';